.doctor-detail-container {
    margin: 0 100px;
    height: 500px;

    .intro-doctor {
        display: flex;

        .content-left {
            width: 20%;
            // background: center center no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }

            .down {
                padding-top: 10px;
            }
        }
    }

    .schedule-doctor {
        margin: 0 10px;
        display: flex;
        padding: 10px 0;
        min-height: 200px;

        .content-left {
            width: 50%;
        }

        .content-right {
            width: 50%;
        }
    }

    .detail-infor-doctor {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
        //background: #ddd;

        img {
            width: 100%;
        }

        h3 {
            font-size: 17px;
        }
    }
}